/* poppins */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Handlee&family=Lexend:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

/* cera pro */
@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/CeraPro-Regular.ttf');
}
@font-face {
  font-family: 'Cera Pro';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/CeraPro-Bold.ttf');
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', system-ui, sans-serif;
  }

  ::-webkit-scrollbar {
    @apply w-3.5 !rounded-lg overflow-hidden;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-[#D6E8B0];
  }

  /* Thumb */
  ::-webkit-scrollbar-thumb {
    @apply bg-[#015438] rounded-lg;
  }
}

@layer components {
  .container {
    @apply px-4 lg:px-16
  }
  
  .bg-image-wave {
    background-image: url('@/assets/images/wave.svg');
    background-size: 100% 60%;
    @apply bg-primary-light bg-no-repeat bg-bottom min-h-screen;
  }

  .bg-image-wave2 {
    background-image: url('@/assets/images/wave-profile.svg');
    @apply bg-primary-light bg-no-repeat bg-bottom min-h-screen;
  }

  .datepicker-cell.selected {
    @apply bg-primary;
  }
}
